@import "tailwindcss";

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 200 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 500 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-gilroy: "Gilroy", sans-serif;
  --search-bg: rgba(255, 255, 255, 0.15);
  --custom-orange: #e58411;
  --custom-black: #1a1a1a;
  --ternery-bg: #f7f7f7;
  --custom-text-black: #1e1e1e;
}

body {
  margin: auto;
  max-width: 1640px;
  font-family: var(--font-gilroy);
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
